nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: extrabold;
  color: #ffffff;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #191919;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all .2s ease;
}

li:hover {
  border-bottom: 2px solid #2870BD;
}

a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
}
