.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  position: absolute;
  top: -24px;
  left: 1px;
  color: var(--text-light);
  border-radius: 5px;
  padding: 0 5px;
  font-weight: bold;

}

input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
