* {
  transition: background-color .2s ease, color .2s ease;
}

body {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #191919;
  color: #ffffff;
}

.button {
  color: #ffffff;
  background-color: #2870BD;
  padding: 14px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: .9rem;
  cursor: pointer;
}
